
.clideIcon{
    position: fixed;
    width: 3.5em;
    height: 3.5em;
    background-color: gray;
    left: 27em;
    top: 1em;
    z-index: 1;
    font-size: 0.9em;

    @media screen and (max-width: 1680px){
        width: 4em;
        height: 4em;
        left: 25em;
    }
    @media screen and (max-width: 1280px){
        left: 4em;
    }

    @media screen and (max-width: 736px){
        left: 2em;
    }
}

.sidebar{
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #f5f6f7;
    font-size: 0.9em;
    position: relative;
    width: 26em;
    height: 100%;
    margin: 0;

    @media screen and (max-width: 1680px){
        width: 24em;
    }
    @media screen and (max-width: 1280px){
        box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.18);
        left: 0;
        position: fixed;
        top: 0;
        z-index: 10000;
        margin-left: -29em;
    }

    @media screen and (max-width: 736px){
        box-shadow:none;
        left: 0;
        position: fixed;
        top: 0;
        z-index: 10000;
        margin-left: -24em;
    }
}