

.sidebar{
    font-size: 0.9em;
    transition: 0.8s ease;
}

.clickIcon{
    position:fixed;
    width: 3.5em;
    height: 3.5em;
    background-color: gray;
    top: 1em;
    margin-left: 33em;
    z-index: 1;

    @media screen and (max-width: 1680px){
        width: 4em;
        height: 4em;
        margin-left: 29.5em;
    }
    @media screen and (max-width: 1280px){
        margin-left: 4em;
    }

    @media screen and (max-width: 736px){
        margin-left: 2em;
    }
}
     


.context{
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #f5f6f7;
    position: relative;
    width: 26em;
    height: 100%;
    margin: 0;

    @media screen and (max-width: 1680px){
        width: 24em;
    }
    @media screen and (max-width: 1280px){
        box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.18);
        position: fixed;
        left: -24em;
        top: 0;
        z-index: 10000;
    }

    @media screen and (max-width: 736px){
        box-shadow:none;
        position: fixed;
        left: -24em;
        top: 0;
    }
}